@model mlp.Models.Product

@{
    ViewBag.Title = Model.Name + " Reviews";
}

@section ponyDetail{
    <div class="bgred">
        <header id="ponyDetail">
            <img src="~/img/@Model.Image" alt="@Model.Name">
            <h1>@Model.Name</h1>
            <h2>@Model.Description</h2>
        </header>
    </div>
}

<section id="aboutsection">
    <div id="aboutcontainer">

        <div class="grid-item grid-item-1">
            <h3>
                Category @Model.Category
            </h3>
         
        </div>


        <div class="grid-item grid-item-3">

            <ul id="ponyreviews">
                @foreach (var review in Model.Reviews)
                {
                <li>
                    <div class="quote-author">
                        <img src="~/avatars/avatar5@2x.png" alt="img">
                        <h4>@review.ReviewerName</h4>
                    </div>
                    <div class="quote-info">
                        <h5>Rating: @review.Rating</h5>

                        <p>@review.Content</p>
                        <p id="editactions">
                            <a id="updatereview" href="/Review/Update/@review.ReviewId/" class="button">Update review!</a>
                            <a id="deletereview" href="/Review/Delete/@review.ReviewId/" class="button">Delete review!</a>
                        </p>
                        
                    </div>
                </li>

                }
            </ul>

        </div>
          <div class="bigpink">
        <a href="/Review/Create/@Model.ProductId/" >Leave a review!</a>
    </div>
    <a href="/Product/Index">Back to all ponies</a>
    </div>


</section>
