@model mlp.Models.Product

@section ponyDetail{ 
    <div class="bgred">
        <header id="ponyDetail">
            <img src="~/img/@Model.Image" alt="@Model.Name">
            <h1>@Model.Name</h1>
            <h2>@Model.Description</h2>
        </header>
    </div>
}

<h1>@Model.Name</h1>

<section id="spartanprojects">
    <div id="projects">

        <article>
           
            <h3>@Model.Name</h3>
            <p>
                @Model.Category
            </p>
            <p>
                @Model.DateTimeGroup
            </p>

            @foreach (var review in Model.Reviews)
            {
                <p>@review.ReviewerName</p>
                <p>@review.Content</p>

            }

        </article>

    </div>

</section>
