@model mlp.Models.Product

@{
    ViewBag.Title = Model.Name + " Reviews";
}

@section ponyDetail{
    <div class="bgred">
        <header id="ponyDetail">
            <img src="~/img/@Model.Image" alt="@Model.Name">
            <h1>@Model.Name</h1>
            <h2>@Model.Description</h2>
        </header>
    </div>
}

<h1>@Model.Name</h1>

<section id="#aboutsection">

            <h3>
                Category @Model.Category
            </h3>
            <p>
                Posted: @Model.DateTimeGroup
            </p>

            @foreach (var review in Model.Reviews)
            {
                <p>@review.ReviewerName</p>
                <p>@review.Content</p>
                <p>Rating:@review.Rating</p>
       
            }

   

</section>
