@model mlp.Models.Product
<h1>@Model.Name</h1>

<section id="spartanprojects">
    <div id="projects">

        <article>
            <img src="~/img/@Model.Image" alt="@Model.Name">
            <h3>@Model.Name</h3>
            <p>
                @Model.Description
            </p>
            <p>
                @Model.Category
            </p>
            <p>
                @Model.DateTimeGroup
            </p>

            @foreach (var review in Model.Reviews)
            {
                <p>@review.ReviewerName</p>
                <p>@review.Content</p>

            }

        </article>

    </div>

    <div>
        <a href="/Review/Create/@Model.ProductId/" class="button">Leave a review!</a>
    </div>
    <a href="/Product/Index">Back to all ponies</a>

</section>
