@model IEnumerable<mlp.Models.Product>

@section slider{ 
    <div class="bgred">
        <header>
            <h1>MLP Review</h1>
            <h2>We love ponies!</h2>
        </header>
    </div>
}


<section id="spartanprojects">
    <h2>My Little Ponies</h2>
    <div id="projects">

        @foreach (var pony in Model)
        {
            <article>
                <a href="/Product/Detail/@pony.ProductId">
                    <img src="~/img/@pony.Image" alt="@pony.Name">
                    <h3>@pony.Name</h3>
                    <p>
                        @pony.Description
                    </p>
                    <p>
                        @pony.Category
                    </p>
                    <p>
                        @pony.DateTimeGroup
                    </p>
                </a>
            </article>
        }

    </div>

</section>
