@model IEnumerable<mlp.Models.Product>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>My Little Pony List</h1>
    <nav>
    <a asp-area="" asp-controller="Product" asp-action="ProductDetail">Product Details</a>
        </nav>
    @foreach (var pony in Model)
    {
        <h2>@pony.Name</h2>
        <h2>ID: @pony.Id</h2>
        <img src="~/App_GlobalResources/img/@pony.Image" alt="@pony.Name" />
        <h3>Category: @pony.Category</h3>
        <p>Review: @pony.Review</p>
        <p>Date: @pony.DateTimeGroup</p>
        <p>Description: @pony.Description</p>

        <hr />
    }
</body>
</html>
