@model IEnumerable<mlp.Models.Product>
<h1>My Little Pony List</h1>

<section id="spartanprojects">
    <div id="projects">

        @foreach (var pony in Model)
        {
            <article>
                <a href="/Product/Detail/@pony.Id">
                    <img src="~/img/@pony.Image" alt="@pony.Name">
                    <h3>@pony.Name</h3>
                    <p>
                        @pony.Description
                    </p>
                    <p>
                        @pony.Category
                    </p>
                    <p>
                        @pony.DateTimeGroup
                    </p>
                </a>
            </article>
        }

    </div>

</section>
