<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="robots" content="noindex,nofollow">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Athor" content="My Little Ponies">
    <meta name="description" content="@ViewBag.description">

    <link rel="apple-touch-icon" href="icon.png">
    <link rel="stylesheet" type="text/css" href="~/css/normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Arapey&display=swap" rel="stylesheet">


    <link rel="stylesheet" type="text/css" href="~/css/site.css?version=1.4">

    <title>@ViewBag.Title</title>
</head>
<body>

 @RenderSection("slider", required: false)
 @RenderSection("ponyDetail", required: false)

    <main>
        @RenderBody()

    </main>


    <nav>
        <div class="navalign">
            <a href="/Product/Index">Equestria</a>
        </div>
    </nav>


    <div class="bgred">
        <footer> &copy; 2020 MLP</footer>
    </div>





</body>
</html>